/* Global Indentation Variable */
:root {
    --indent: 10px;
}

/* Base styles for the file tree */
.file-explorer {
    line-height: 1.75;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.file-explorer h2 {
    text-align: center;
}

/* File List Container (Allows Scrolling) */
.file-tree {
    flex-grow: 1;
    padding: 5px;
    max-height: 100%;
    overflow: scroll;
}

.fileTree-item {
    border-radius: 5px;
    text-wrap: wrap;
    padding-top: 3px;
}

/* File and Folder Names */
.file-name {
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.selected {
    background: #ff0073;
    transition: background-color 0.3s ease-in-out;
}

.selected:hover {
    background: #ff0073;
}

/* Expandable content container containing file children */
.file-children {
    overflow: hidden;
    max-height: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.file-children.expanded {
    max-height: 100%;
    opacity: 1;
}